@model IEnumerable<SinExWebApp20256461.ViewModels.ShipmentsListViewModel>

@if (Model.Any())
{
    <p>The following are the shipments for the specified account.</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaybillId)
            </th>
            <th>
                @Html.ActionLink("ServiceType", "GenerateHistoryReport", new{ sortOrder = ViewBag.ServiceTypeSortParm,
               ShippingAccountId = ViewBag.CurrentShippingAccountId })
            </th>
            <th>
                @Html.ActionLink("ShippedDate", "GenerateHistoryReport", new{ sortOrder = ViewBag.ShippedDateSortParm,
               ShippingAccountId = ViewBag.CurrentShippingAccountId })
            </th>
            <th>
                @Html.ActionLink("DeliveredDate", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.DeliveredDateSortParm,
               ShippingAccountId = ViewBag.CurrentShippingAccountId
           })
            </th>
            <th>
                @Html.ActionLink("RecipientName", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.RecipientNameSortParm,
               ShippingAccountId = ViewBag.CurrentShippingAccountId
           })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPackages)
            </th>
            <th>
                @Html.ActionLink("Origin", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.OriginSortParm,
               ShippingAccountId = ViewBag.CurrentShippingAccountId
           })
            </th>
            <th>
                @Html.ActionLink("Destination", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.DestinationSortParm,
               ShippingAccountId = ViewBag.CurrentShippingAccountId
           })
            </th>
            <th>
                @Html.ActionLink("ShippingAccountId", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.ShippingAccountIdSortParm,
               ShippingAccountId = ViewBag.CurrentShippingAccountId
           })
            </th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.WaybillId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DeliveredDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumberOfPackages)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Origin)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Destination)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ShippingAccountId)
                </th>
            </tr>
        }
    </table>
}