@model SinExWebApp20256461.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @if (ViewBag.customerType == "Personal")
        {
            <dt>Account Number</dt>
                <dd>
                    @Html.DisplayFor(Model => Model.ShippingAccountNumber)
                </dd>
            <dt>Display Personal Information</dt>
            <dd>
                @Html.ActionLink("Display Personal", "Details", "PersonalShippingAccounts")
            </dd>
            <dt>Change Personal Information</dt>
            <dd>
                @Html.ActionLink("Change Personal", "Edit", "PersonalShippingAccounts")
            </dd>
        }
        else if (ViewBag.customerType == "Business")
        {
            <dt>Account Number</dt>
                        <dd>
                            @Html.DisplayFor(Model => Model.ShippingAccountNumber)
                        </dd>
            <dt>Display Business Information</dt>
            <dd>
                @Html.ActionLink("Display Business", "Details", "BusinessShippingAccounts")
            </dd>
            <dt>Change Business Information</dt>
            <dd>
                @Html.ActionLink("Change Business", "Edit", "BusinessShippingAccounts")
            </dd>
        }
    </dl>
</div>
