@model IEnumerable<SinExWebApp20256461.Models.Destination>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DestinationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DestinationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DestinationID })
        </td>
    </tr>
}

</table>
